header{
  background: linear-gradient(to bottom right, #00F260, #a17fe0);
  padding: 20px 15px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
  text-align:center;
}
